# Data Loading, Storage, and File Formats

# Reading and Writing Data in Text Format

## convert text data into a DataFrame

Indexing - treat one or more columns as DataFrame

Type inference and data conversion - Includes the user-defined value conversions and custom list of missing value markers.

Date and time parsing - including combining date and time information spread over multiple columns into a single column in the result.

Iterating - Support for iterating over chunks of very large files.

Unclean data issues - Includes skipping rows or a footer, comments, or other minor things like numeric data with thousands separated by commas.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/qian/Desktop/DATA/WESM/ex1.csv')

In [3]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [4]:
pd.read_csv('/Users/qian/Desktop/DATA/WESM/ex2.csv',header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [6]:
pd.read_csv('/Users/qian/Desktop/DATA/WESM/ex2.csv',
            names = ["a", "b", "c", "d", "message"])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [7]:
names = ["a", "b", "c", "d", "message"]
pd.read_csv('/Users/qian/Desktop/DATA/WESM/ex2.csv', names = names,index_col = 'message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [8]:
!cat /Users/qian/Desktop/DATA/WESM/csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [9]:
parsed = pd.read_csv('/Users/qian/Desktop/DATA/WESM/csv_mindex.csv',
                     index_col = ['key1','key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [10]:
!cat /Users/qian/Desktop/DATA/WESM/ex3.txt

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [13]:
result = pd.read_csv('/Users/qian/Desktop/DATA/WESM/ex3.txt', sep = '\s+')
result

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
/var/folders/zm/d0465cgn1zvdzj96xmp0pxww0000gp/T/ipykernel_90049/2262739057.py:1: SyntaxWarning: invalid escape sequence '\s'
  result = pd.read_csv('/Users/qian/Desktop/DATA/WESM/ex3.txt', sep = '\s+')

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [14]:
!cat /Users/qian/Desktop/DATA/WESM/ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [15]:
pd.read_csv('/Users/qian/Desktop/DATA/WESM/ex4.csv',skiprows=[0,2,3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [16]:
!cat /Users/qian/Desktop/DATA/WESM/ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [19]:
result = pd.read_csv('/Users/qian/Desktop/DATA/WESM/ex5.csv')
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [20]:
pd.isna(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [27]:
result = pd.read_csv('/Users/qian/Desktop/DATA/WESM/ex5.csv',na_values=['NULL'])
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [28]:
result2 = pd.read_csv('/Users/qian/Desktop/DATA/WESM/ex5.csv',keep_default_na=False)
result2

  something  a   b   c   d message
0       one  1   2   3   4      NA
1       two  5   6       8   world
2     three  9  10  11  12     foo

In [29]:
result2.isna()

   something      a      b      c      d  message
0      False  False  False  False  False    False
1      False  False  False  False  False    False
2      False  False  False  False  False    False

In [31]:
result3 = pd.read_csv('/Users/qian/Desktop/DATA/WESM/ex5.csv', keep_default_na=False,na_values=['NA'])
result3

  something  a   b   c   d message
0       one  1   2   3   4     NaN
1       two  5   6       8   world
2     three  9  10  11  12     foo

In [32]:
result3.isna()

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False  False  False    False
2      False  False  False  False  False    False

In [33]:
sentinels = {'message':['foo','NA'],'something':['two']}
pd.read_csv('/Users/qian/Desktop/DATA/WESM/ex5.csv',na_values=sentinels,
            keep_default_na=False)

  something  a   b   c   d message
0       one  1   2   3   4     NaN
1       NaN  5   6       8   world
2     three  9  10  11  12     NaN

## Text and binary data loading functions in pandas

|Function	|Description|
|-|-|
|read_csv	|Load delimited data from a file, URL, or file-like object; use comma as default delimiter|
||从文件、URL 或类似文件的对象加载分隔数据；使用逗号作为默认分隔符|
|read_fwf	|Read data in fixed-width column format (i.e., no delimiters)|
||以固定宽度列格式读取数据（即无分隔符）|
|read_clipboard	|Variation of read_csv that reads data from the clipboard; useful for converting tables from web pages|
||read_csv的变体，从剪贴板读取数据；对于从网页转换表格很有用|
|read_excel	|Read tabular data from an Excel XLS or XLSX file|
||从 Excel XLS 或 XLSX 文件读取表格数据|
|read_hdf	|Read HDF5 files written by pandas|
||读取pandas编写的HDF5文件|
|read_html	|Read all tables found in the given HTML document|
||读取给定 HTML 文档中找到的所有表格|
|read_json	|Read data from a JSON (JavaScript Object Notation) string representation, file, URL, or file-like object|
||从 JSON（JavaScript 对象表示法）字符串表示形式、文件、URL 或类似文件的对象读取数据|
|read_feather	|Read the Feather binary file format|
||读取 Feather 二进制文件格式|
|read_orc	|Read the Apache ORC binary file format|
||读取Apache ORC二进制文件格式|
|read_parquet	|Read the Apache Parquet binary file format|
||读取 Apache Parquet 二进制文件格式|
|read_pickle	|Read an object stored by pandas using the Python pickle format|
||使用 Python pickle 格式读取 pandas 存储的对象|
|read_sas	|Read a SAS dataset stored in one of the SAS system's custom storage formats|
||读取以 SAS 系统的自定义存储格式之一存储的 SAS 数据集|
|read_spss	|Read a data file created by SPSS|
||读取SPSS创建的数据文件|
|read_sql	|Read the results of a SQL query (using SQLAlchemy)|
||读取 SQL 查询的结果（使用 SQLAlchemy）|
|read_sql_table	|Read a whole SQL table (using SQLAlchemy); equivalent to using a query that selects everything in that table using read_sql|
||读取整个 SQL 表（使用 SQLAlchemy）；相当于使用read_sql选择该表中所有内容的查询|
|read_stata	|Read a dataset from Stata file format|
||从 Stata 文件格式读取数据集|
|read_xml	|Read a table of data from an XML file|
||从 XML 文件中读取数据表|

## Some pandas.read_csv function arguments

|Argument	|Description|
|-|-|
|path	|String indicating filesystem location, URL, or file-like object.|
||指示文件系统位置、URL 或类似文件的对象的字符串。|
|sep or delimiter	|Character sequence or regular expression to use to split fields in each row.|
||用于分割每行中的字段的字符序列或正则表达式。|
|header	|Row number to use as column names; defaults to 0 (first row), but should be None if there is no header row.|
||用作列名称的行号；默认为 0（第一行），但如果没有标题行，则应为None 。|
|index_col	|Column numbers or names to use as the row index in the result; can be a single name/number or a list of them for a hierarchical index.|
||用作结果中的行索引的列号或名称；可以是单个名称/编号，也可以是分层索引的列表。|
|names	|List of column names for result.|
||结果的列名称列表。|
|skiprows	|Number of rows at beginning of file to ignore or list of row numbers (starting from 0) to skip.|
||文件开头要忽略的行数或要跳过的行号列表（从 0 开始）。|
|na_values	|Sequence of values to replace with NA. They are added to the default list unless keep_default_na=False is passed.|
||用 NA 替换的值序列。除非传递keep_default_na=False ，否则它们将添加到默认列表中。|
|keep_default_na	|Whether to use the default NA value list or not (True by default).|
||是否使用默认的 NA 值列表（默认为True ）。|
|comment	|Character(s) to split comments off the end of lines.|
||用于将注释从行尾分开的字符。|
|parse_dates	|Attempt to parse data to datetime; False by default. If True, will attempt to parse all columns. Otherwise, can specify a list of column numbers or names to parse. If element of list is tuple or list, will combine multiple columns together and parse to date (e.g., if date/time split across two columns).|
||尝试将数据解析为datetime ； False为假。如果True ，将尝试解析所有列。否则，可以指定要解析的列号或名称的列表。如果列表的元素是元组或列表，则将多个列组合在一起并解析为日期（例如，如果日期/时间拆分为两列）。|
|keep_date_col	|If joining columns to parse date, keep the joined columns; False by default.|
||如果连接列来解析日期，则保留连接的列； False为假。|
|converters	|Dictionary containing column number or name mapping to functions (e.g., {"foo": f} would apply the function f to all values in the "foo" column).|
||包含映射到函数的列号或名称的字典（例如， {"foo": f}会将函数f应用于"foo"列中的所有值）。|
|dayfirst	|When parsing potentially ambiguous dates, treat as international format (e.g., 7/6/2012 -> June 7, 2012); False by default.|
||解析可能不明确的日期时，将其视为国际格式（例如，7/6/2012 -> June 7, 2012）； False为假。|
|date_parser	|Function to use to parse dates.|
||用于解析日期的函数。|
|nrows	|Number of rows to read from beginning of file (not counting the header).|
||从文件开头读取的行数（不包括标题）。|
|iterator	|Return a TextFileReader object for reading the file piecemeal. This object can also be used with the with statement.|
||返回一个TextFileReader对象，用于分段读取文件。该对象也可以与with语句一起使用。|
|chunksize	|For iteration, size of file chunks.|
||对于迭代，文件块的大小。|
|skip_footer	|Number of lines to ignore at end of file.|
||文件末尾要忽略的行数。|
|verbose	|Print various parsing information, like the time spent in each stage of the file conversion and memory use information.|
||打印各种解析信息，例如文件转换每个阶段所花费的时间和内存使用信息。|
|encoding	|Text encoding (e.g., "utf-8 for UTF-8 encoded text). Defaults to "utf-8" if None.|
||文本编码（例如， "utf-8表示 UTF-8 编码文本）。如果None ，则默认为"utf-8" 。|
|squeeze	|If the parsed data contains only one column, return a Series.|
||如果解析的数据仅包含一列，则返回一个Series。|
|thousands	|Separator for thousands (e.g., "," or "."); default is None.|
||千位分隔符（例如","或"." ）；默认为None 。|
|decimal	|Decimal separator in numbers (e.g., "." or ","); default is ".".|
||数字中的小数分隔符（例如"."或"," ）；默认为"." 。|
|engine	|CSV parsing and conversion engine to use; can be one of "c", "python", or "pyarrow". The default is "c", though the newer "pyarrow" engine can parse some files much faster. The "python" engine is slower but supports some features that the other engines do not.|
||CSV解析和转换引擎的使用；可以是"c" 、 "python"或"pyarrow"之一。默认值为"c" ，尽管较新的"pyarrow"引擎可以更快地解析某些文件。 "python"引擎速度较慢，但​​支持其他引擎不支持的一些功能。|

## Reading Text Files in Pieces

In [34]:
pd.options.display.max_rows = 10

In [35]:
result = pd.read_csv('/Users/qian/Desktop/DATA/WESM/ex6.csv')
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [36]:
pd.read_csv('/Users/qian/Desktop/DATA/WESM/ex6.csv', nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [37]:
chunker = pd.read_csv('/Users/qian/Desktop/DATA/WESM/ex6.csv',chunksize=1000)
type(chunker)

pandas.io.parsers.readers.TextFileReader

In [40]:
chunker = pd.read_csv('/Users/qian/Desktop/DATA/WESM/ex6.csv',chunksize=1000)
tot = pd.Series([],dtype='int64')
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(),fill_value=0)

tot = tot.sort_values(ascending=False)
tot[:10]

key
E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

## Writing Data to Text Format

In [42]:
data = pd.read_csv('/Users/qian/Desktop/DATA/WESM/ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [43]:
data.to_csv('/Users/qian/Desktop/DATA/WESM/ex5_out.csv')

In [44]:
!cat /Users/qian/Desktop/DATA/WESM/ex5_out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [46]:
import sys

In [48]:
#用 ｜ 来代替 ，
data.to_csv(sys.stdout,sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [51]:
#用其他标记来标记missing value
data.to_csv(sys.stdout, na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [52]:
data.to_csv(sys.stdout,index=False,header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [53]:
data.to_csv(sys.stdout,index=False,columns=['a','b','c'])

a,b,c
1,2,3.0
5,6,
9,10,11.0

## Working with Other Delimited Formats

In [54]:
!cat /Users/qian/Desktop/DATA/WESM/ex7.csv

"a","b","c"
"1","2","3"
"1","2","3"

In [55]:
import csv

In [56]:
f = open('/Users/qian/Desktop/DATA/WESM/ex7.csv')
reader = csv.reader(f)

In [57]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [58]:
f.close()

In [60]:
# read the file into a list of lines
with open('/Users/qian/Desktop/DATA/WESM/ex7.csv') as f:
    lines = list(csv.reader(f))

In [61]:
# split the lines into the header line and the data lines
header, values = lines[0],lines[1:]

In [62]:
data_dict = {h: v for h,v in zip(header, zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [63]:
class my_dialect(csv.Dialect):
    lineterminator='\n'
    delimiter=';'
    quotechar='"'
    quoting=csv.QUOTE_MINIMAL

reader=csv.reader(f, dialect=my_dialect)

## CSV dialect options

|Argument	|Description|
|-|-|
|delimiter	|One-character string to separate fields; defaults to ",".|
||用于分隔字段的单字符字符串；默认为"," 。|
|lineterminator	|Line terminator for writing; defaults to "\r\n". Reader ignores this and recognizes cross-platform line terminators.|
||用于写入的行终止符；默认为"\r\n" 。 Reader 会忽略这一点并识别跨平台行终止符。|
|quotechar	|Quote character for fields with special characters (like a delimiter); default is '"'.|
||带有特殊字符（如分隔符）的字段的引号字符；默认为'"' 。|
|quoting	|Quoting convention. Options include csv.QUOTE_ALL (quote all fields), csv.QUOTE_MINIMAL (only fields with special characters like the delimiter), csv.QUOTE_NONNUMERIC, and csv.QUOTE_NONE (no quoting). See Python’s documentation for full details. Defaults to QUOTE_MINIMAL.|
||引用约定。选项包括csv.QUOTE_ALL （引用所有字段）、 csv.QUOTE_MINIMAL （仅包含特殊字符（如分隔符）的字段）、 csv.QUOTE_NONNUMERIC和csv.QUOTE_NONE （不引用）。有关完整详细信息，请参阅 Python 文档。默认为QUOTE_MINIMAL 。|
|skipinitialspace	|Ignore whitespace after each delimiter; default is False.|
||忽略每个分隔符后面的空格；默认为False 。|
|doublequote	|How to handle quoting character inside a field; if True, it is doubled (see online documentation for full detail and behavior).|
||如何处理字段内的引用字符；如果True ，则加倍（有关完整详细信息和行为，请参阅在线文档）。|
|escapechar	|String to escape the delimiter if quoting is set to csv.QUOTE_NONE; disabled by default.|
||如果quoting设置为csv.QUOTE_NONE ，则转义分隔符的字符串；默认禁用。|

## JSON Data

In [68]:
obj = """
{"name": "Wes",
 "cities_lived": ["Akron", "Nashville", "New York", "San Francisco"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 34, "hobbies": ["guitars", "soccer"]},
              {"name": "Katie", "age": 42, "hobbies": ["diving", "art"]}]
}
"""

In [66]:
import json

In [71]:
# convert a JSON string to Python form: json.loads
result = json.loads(obj)
result

{'name': 'Wes',
 'cities_lived': ['Akron', 'Nashville', 'New York', 'San Francisco'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 34, 'hobbies': ['guitars', 'soccer']},
  {'name': 'Katie', 'age': 42, 'hobbies': ['diving', 'art']}]}

In [72]:
#  converts a Python object back to JSON: json.dumps
asjson = json.dumps(result)
asjson

'{"name": "Wes", "cities_lived": ["Akron", "Nashville", "New York", "San Francisco"], "pet": null, "siblings": [{"name": "Scott", "age": 34, "hobbies": ["guitars", "soccer"]}, {"name": "Katie", "age": 42, "hobbies": ["diving", "art"]}]}'

In [73]:
siblings = pd.DataFrame(result['siblings'],columns=['names','age'])
siblings

   names  age
0    NaN   34
1    NaN   42

In [74]:
!cat /Users/qian/Desktop/DATA/WESM/example.json

[{"a": 1, "b": 2, "c": 3},
 {"a": 4, "b": 5, "c": 6},
 {"a": 7, "b": 8, "c": 9}]

In [75]:
data = pd.read_json('/Users/qian/Desktop/DATA/WESM/example.json')
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [79]:
data.to_json(sys.stdout)

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}

In [80]:
data.to_json(sys.stdout, orient="records")

[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

## XML and HTML: Web Scraping

In [83]:
tables = pd.read_html('/Users/qian/Desktop/DATA/WESM/fdic_failed_bank_list.html')
len(tables)

1

In [84]:
failures = tables[0]
failures.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"

In [86]:
close_timestamps=pd.to_datetime(failures['Closing Date'])
close_timestamps.dt.year.value_counts()

Closing Date
2010    157
2009    140
2011     92
2012     51
2008     25
       ...
2004      4
2001      4
2007      3
2003      3
2000      2
Name: count, Length: 15, dtype: int64

In [87]:
from lxml import objectify

In [92]:
path= '/Users/qian/Desktop/DATA/WESMdatasets/mta_perf/Performance_MNR.xml'
with open(path) as f:
    parsed = objectify.parse(f)

root = parsed.getroot()

In [94]:
data = []
skip_fields = ['PARENT_SEQ','INDICATOR_SEQ',
               'DESIRED_CHANGE','DECIMAL_PLACES']

for elt in root.INDICATOR:
    el_data={}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)

In [95]:
perf = pd.DataFrame(data)
perf.head()

,AGENCY_NAME,INDICATOR_NAME,DESCRIPTION,PERIOD_YEAR,PERIOD_MONTH,CATEGORY,FREQUENCY,INDICATOR_UNIT,YTD_TARGET,YTD_ACTUAL,MONTHLY_TARGET,MONTHLY_ACTUAL
0,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,1,Service Indicators,M,%,95.0,96.9,95.0,96.9
1,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,2,Service Indicators,M,%,95.0,96.0,95.0,95.0
2,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,3,Service Indicators,M,%,95.0,96.3,95.0,96.9
3,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,4,Service Indicators,M,%,95.0,96.8,95.0,98.3
4,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,5,Service Indicators,M,%,95.0,96.6,95.0,95.8

In [96]:
# pandas 的pandas.read_xml函数将这个过程变成了一行表达式：
perf2 = pd.read_xml(path)
perf2.head()

,INDICATOR_SEQ,PARENT_SEQ,AGENCY_NAME,INDICATOR_NAME,DESCRIPTION,PERIOD_YEAR,PERIOD_MONTH,CATEGORY,FREQUENCY,DESIRED_CHANGE,INDICATOR_UNIT,DECIMAL_PLACES,YTD_TARGET,YTD_ACTUAL,MONTHLY_TARGET,MONTHLY_ACTUAL
0,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,1,Service Indicators,M,U,%,1,95.00,96.90,95.00,96.90
1,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,2,Service Indicators,M,U,%,1,95.00,96.00,95.00,95.00
2,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,3,Service Indicators,M,U,%,1,95.00,96.30,95.00,96.90
3,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,4,Service Indicators,M,U,%,1,95.00,96.80,95.00,98.30
4,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,5,Service Indicators,M,U,%,1,95.00,96.60,95.00,95.80

# Binary Data Formats

In [97]:
frame = pd.read_csv('/Users/qian/Desktop/DATA/WESM/ex1.csv')
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [98]:
frame.to_pickle('/Users/qian/Desktop/DATA/WESM/frame_pickle')

In [99]:
pd.read_pickle('/Users/qian/Desktop/DATA/WESM/frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [102]:
fec = pd.read_parquet('/Users/qian/Desktop/DATA/WESMdatasets/fec/fec.parquet')

In [103]:
fec

,cmte_id,cand_id,cand_nm,contbr_nm,contbr_city,contbr_st,contbr_zip,contbr_employer,contbr_occupation,contb_receipt_amt,contb_receipt_dt,receipt_desc,memo_cd,memo_text,form_tp,file_num
0,C00410118,P20002978,"Bachmann, Michelle","HARVEY, WILLIAM",MOBILE,AL,366010290,RETIRED,RETIRED,250.0,20-JUN-11,None,None,None,SA17A,736166
1,C00410118,P20002978,"Bachmann, Michelle","HARVEY, WILLIAM",MOBILE,AL,366010290,RETIRED,RETIRED,50.0,23-JUN-11,None,None,None,SA17A,736166
2,C00410118,P20002978,"Bachmann, Michelle","SMITH, LANIER",LANETT,AL,368633403,INFORMATION REQUESTED,INFORMATION REQUESTED,250.0,05-JUL-11,None,None,None,SA17A,749073
3,C00410118,P20002978,"Bachmann, Michelle","BLEVINS, DARONDA",PIGGOTT,AR,724548253,NONE,RETIRED,250.0,01-AUG-11,None,None,None,SA17A,749073
4,C00410118,P20002978,"Bachmann, Michelle","WARDENBURG, HAROLD",HOT SPRINGS NATION,AR,719016467,NONE,RETIRED,300.0,20-JUN-11,None,None,None,SA17A,736166
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1001726,C00500587,P20003281,"Perry, Rick","GORMAN, CHRIS D. MR.",INFO REQUESTED,XX,99999,INFORMATION REQUESTED PER BEST EFFORTS,INFORMATION REQUESTED PER BEST EFFORTS,5000.0,29-SEP-11,REATTRIBUTION / REDESIGNATION REQUESTED (AUTOM...,None,REATTRIBUTION / REDESIGNATION REQUESTED (AUTOM...,SA17A,751678
1001727,C00500587,P20003281,"Perry, Rick","DUFFY, DAVID A. MR.",INFO REQUESTED,XX,99999,DUFFY EQUIPMENT COMPANY INC.,BUSINESS OWNER,2500.0,30-SEP-11,None,None,None,SA17A,751678
1001728,C00500587,P20003281,"Perry, Rick","GRANE, BRYAN F. MR.",INFO REQUESTED,XX,99999,INFORMATION REQUESTED PER BEST EFFORTS,INFORMATION REQUESTED PER BEST EFFORTS,500.0,29-SEP-11,None,None,None,SA17A,751678
1001729,C00500587,P20003281,"Perry, Rick","TOLBERT, DARYL MR.",INFO REQUESTED,XX,99999,T.A.C.C.,LONGWALL MAINTENANCE FOREMAN,500.0,30-SEP-11,None,None,None,SA17A,751678
1001730,C00500587,P20003281,"Perry, Rick","ANDERSON, MARILEE MRS.",INFO REQUESTED,XX,99999,INFORMATION REQUESTED PER BEST EFFORTS,INFORMATION REQUESTED PER BEST EFFORTS,2500.0,31-AUG-11,None,None,None,SA17A,751678

## Reading Microsoft Excel Files

In [104]:
!pip install openpyxl xlrd

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Requirement already satisfied: xlrd in /Users/qian/Desktop/ZipCode/Python/myenv/lib/python3.12/site-packages (2.0.1)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.9/250.9 kB 3.0 MB/s eta 0:00:00[36m0:00:01m eta 0:00:01
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: pip install --upgrade pip

In [106]:
xlsx = pd.ExcelFile('/Users/qian/Desktop/DATA/WESM/ex1.xlsx')

In [108]:
xlsx.sheet_names

['Sheet1']

In [109]:
xlsx.parse(sheet_name='Sheet1')

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [110]:
xlsx.parse(sheet_name = 'Sheet1',index_col=0)

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [111]:
frame = pd.read_excel('/Users/qian/Desktop/DATA/WESM/ex1.xlsx',sheet_name = 'Sheet1')
frame

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [112]:
writer = pd.ExcelWriter('/Users/qian/Desktop/DATA/WESM/ex2.xlsx')

In [113]:
frame.to_excel(writer,'Sheet1')
writer.close()

/var/folders/zm/d0465cgn1zvdzj96xmp0pxww0000gp/T/ipykernel_90049/850650435.py:1: FutureWarning: Starting with pandas version 3.0 all arguments of to_excel except for the argument 'excel_writer' will be keyword-only.
  frame.to_excel(writer,'Sheet1')

In [114]:
frame.to_excel('/Users/qian/Desktop/DATA/WESM/ex2.xlsx')

## Using HDF5 Format

In [155]:
!brew install hdf5

==> Downloading https://formulae.brew.sh/api/formula.jws.json
######################################################################### 100.0%
==> Downloading https://formulae.brew.sh/api/cask.jws.json
######################################################################### 100.0%
Warning: hdf5 1.14.3_1 is already installed and up-to-date.
To reinstall 1.14.3_1, run:
  brew reinstall hdf5

In [128]:
!pip install tables

Collecting tables
  Using cached tables-3.9.2.tar.gz (4.7 MB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: numpy>=1.19.0 in /Users/qian/Desktop/ZipCode/Python/myenv/lib/python3.12/site-packages (from tables) (2.0.1)
Collecting numexpr>=2.6.2 (from tables)
  Using cached numexpr-2.10.1-cp312-cp312-macosx_11_0_arm64.whl.metadata (1.2 kB)
Requirement already satisfied: packaging in /Users/qian/Desktop/ZipCode/Python/myenv/lib/python3.12/site-packages (from tables) (24.1)
Collecting py-cpuinfo (from tables)
  Using cached py_cpuinfo-9.0.0-py3-none-any.whl.metadata (794 bytes)
Collecting blosc2>=2.3.0 (from tables)
  Using cached blosc2-2.7.1-cp312-cp312-macosx_11_0_arm64.whl.metadata (9.1 kB)
Collecting ndindex>=1.4 (from blosc2>=2.3.0->tables)
  Using cached ndindex-1.8-py3-none-any.whl.metadata (3.4 kB)
Collecting msgpack (from blosc2>=2.3.0->tables)
  Using cached msgpack-1.0.8-cp312-cp312-macosx_11_0_arm64.whl.metadata (9.1 kB)
Using cached blosc2-2.7.1-cp312-cp312-macosx_11_0_arm64.whl (3.3 MB)
Using cached numexpr-2.10.1-cp312-cp312-macosx_11_0_arm64.whl (131 kB)
Using cached py_cpuinfo-9.0.0-py3-none-any.whl (22 kB)
Using cached ndindex-1.8-py3-none-any.whl (91 kB)
Using cached msgpack-1.0.8-cp312-cp312-macosx_11_0_arm64.whl (85 kB)
Building wheels for collected packages: tables
  Building wheel for tables (pyproject.toml) ... done
  Created wheel for tables: filename=tables-3.9.2-cp312-cp312-macosx_12_0_arm64.whl size=3816458 sha256=39b71bd60ac85d555a3ddfaa1df7cbe8d375a1569e9a6631e1202b6309e319af
  Stored in directory: /Users/qian/Library/Caches/pip/wheels/5a/d4/05/565d24acbcfe7a45d24cf85a2f167dc321bf41b8269ccd598d
Successfully built tables
Installing collected packages: py-cpuinfo, numexpr, ndindex, msgpack, blosc2, tables
Successfully installed blosc2-2.7.1 msgpack-1.0.8 ndindex-1.8 numexpr-2.10.1 py-cpuinfo-9.0.0 tables-3.9.2

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: pip install --upgrade pip

In [152]:
import numpy as np

In [153]:
import tables

ValueError: numpy.dtype size changed, may indicate binary incompatibility. Expected 96 from C header, got 88 from PyObject

In [133]:
!pip install --upgrade numpy tables

Requirement already satisfied: numpy in /Users/qian/Desktop/ZipCode/Python/myenv/lib/python3.12/site-packages (2.0.1)
Requirement already satisfied: tables in /Users/qian/Desktop/ZipCode/Python/myenv/lib/python3.12/site-packages (3.9.2)
Requirement already satisfied: numexpr>=2.6.2 in /Users/qian/Desktop/ZipCode/Python/myenv/lib/python3.12/site-packages (from tables) (2.10.1)
Requirement already satisfied: packaging in /Users/qian/Desktop/ZipCode/Python/myenv/lib/python3.12/site-packages (from tables) (24.1)
Requirement already satisfied: py-cpuinfo in /Users/qian/Desktop/ZipCode/Python/myenv/lib/python3.12/site-packages (from tables) (9.0.0)
Requirement already satisfied: blosc2>=2.3.0 in /Users/qian/Desktop/ZipCode/Python/myenv/lib/python3.12/site-packages (from tables) (2.7.1)
Requirement already satisfied: ndindex>=1.4 in /Users/qian/Desktop/ZipCode/Python/myenv/lib/python3.12/site-packages (from blosc2>=2.3.0->tables) (1.8)
Requirement already satisfied: msgpack in /Users/qian/Desktop/ZipCode/Python/myenv/lib/python3.12/site-packages (from blosc2>=2.3.0->tables) (1.0.8)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: pip install --upgrade pip

In [154]:
frame = pd.DataFrame({'a':np.random.standard_normal(100)})
store = pd.HDFStore('/Users/qian/Desktop/DATA/WESM/mydata.h5')
store['obj1'] = frame
store['obj1_col']=frame['a']
store

ValueError: numpy.dtype size changed, may indicate binary incompatibility. Expected 96 from C header, got 88 from PyObject

In [ ]:
store['obj1']

In [ ]:
store.put('obj2',frame,format='table')
store.select('obj2',where=['index >= 10 and index <= 15'])

In [ ]:
store.close()

In [ ]:
frame.to_hdf('/Users/qian/Desktop/DATA/WESM/mydata.h5','obj3',format = 'table')
pd.read_hdf('/Users/qian/Desktop/DATA/WESM/mydata.h5','obj3',where = ['index<5'])

In [ ]:
import os
os.remove('/Users/qian/Desktop/DATA/WESM/mydata.h5')

# Interacting with Web APIs

In [136]:
!pip install requests

Requirement already satisfied: requests in /Users/qian/Desktop/ZipCode/Python/myenv/lib/python3.12/site-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/qian/Desktop/ZipCode/Python/myenv/lib/python3.12/site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /Users/qian/Desktop/ZipCode/Python/myenv/lib/python3.12/site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/qian/Desktop/ZipCode/Python/myenv/lib/python3.12/site-packages (from requests) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in /Users/qian/Desktop/ZipCode/Python/myenv/lib/python3.12/site-packages (from requests) (2024.7.4)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: pip install --upgrade pip

In [137]:
import requests

In [138]:
url ="https://api.github.com/repos/pandas-dev/pandas/issues"
#这行代码使用 requests.get 方法向指定的 URL 发送一个 HTTP GET 请求。GET 请求用于从服务器获取数据。
resp = requests.get(url)
#这行代码检查 HTTP 请求的状态码。
#如果请求返回的状态码是 4xx 或 5xx，表示请求失败，这行代码会引发一个 HTTPError 异常。
#如果请求成功（即状态码是 2xx 或 3xx），这行代码什么也不做。
resp.raise_for_status()
resp

In [139]:
data = resp.json()
data[0]['title']

'BUG Fix for Add numeric_only to function signature of DataFrameGroupBy.cumprod and `DataFrameGroupBy.cumsum '

In [140]:
issues = pd.DataFrame(data,columns =['number','title','labels','state'])
issues

,number,title,labels,state
0,59427,BUG Fix for Add numeric_only to function signa...,"[{'id': 233160, 'node_id': 'MDU6TGFiZWwyMzMxNj...",open
1,59422,BUG: UnboundLocalError when full outer merging...,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
2,59421,BUG: merging DataFrames on a column containing...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
3,59418,BUG: Series.gt (and other comparison methods) ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
4,59417,Unable to build pandas from source on Windows,"[{'id': 129350, 'node_id': 'MDU6TGFiZWwxMjkzNT...",open
...,...,...,...,...
25,59380,BUG: Can't store `IntEnum` members inside a `p...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
26,59378,BUG: Inconsistent bar and line charts,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
27,59372,BUG: Python 3.13 development wheels not availa...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
28,59371,BUG: PeriodIndex.to_datetime inconsistent with...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
29,59370,add sphinx-copybutton configurations to exclud...,[],open

## Interacting with Databases

In [141]:
import sqlite3

In [142]:
query = """
   .....: CREATE TABLE test
   .....: (a VARCHAR(20), b VARCHAR(20),
   .....:  c REAL,        d INTEGER
   .....: );"""

In [143]:
con = sqlite3.connect('mydata.sqlite')
con.execute(query)

In [144]:
con.commit()

In [145]:
data = [("Atlanta", "Georgia", 1.25, 6),
        ("Tallahassee", "Florida", 2.6, 3),
        ("Sacramento", "California", 1.7, 5)]

In [146]:
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"

In [147]:
con.executemany(stmt,data)

In [148]:
con.commit()

In [149]:
cursor = con.execute('SELECT * FROM test')
rows = cursor.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [150]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [151]:
pd.DataFrame(rows,columns=[x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5